body {
  background-color: rgba(0, 0, 0, 0.842);
}
ul{
  text-align: left;
  color: rgb(190, 9, 9);
  font-style: italic;
}
.card .h{
  color: rgb(0, 0, 0);
  font-family: bold;
}
.card {
  height: 270px;
  width: 230px;
  border: 2px;
  box-shadow: 4px 4px 4px rgb(99, 99, 99);
 
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-color: rgb(156, 40, 40);
  background-color: rgb(178, 178, 178);
  border-radius: 10%;
  margin:20px
}
.card .i {
  width: 100px;
  border-radius: 50%;
}
.card:hover{
  background-color: pink ;
}